# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# PyTorch / Models
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large files
*.csv
*.pdf
*.zip

# Logs
*.log